

.message--container {
  height: 100vh;
  background-color: #1E1E1E;
}


.hamburger--icon {
  color: whitesmoke;
  background-color: white;
  font-size: 22px;
}

.search--message input {
  width: 90%;
  background-color: #333333;
 
  height: 100%;
  outline: none;
  font-size: 16px;
}
.search--message input::placeholder{
  font-size: 16px;
  font-style: italic;
}

.message--input .message--field input {
  height: 50px;
  background-color: #333333 !important;
  font-size: 16px;
  outline: none;
  border: none;
}

.message--field input::placeholder{
  font-style: italic;
  font-size: 16px;
}


.message--field {
  position: relative;
} 

.emoji-picker-icon {
  font-size: 1.5rem;
}

input:focus + .emoji-picker-icon + #emoji-picker,
.emoji-picker-icon:hover + #emoji-picker {
  display: block;
}

.emoji--picker {
  background: transparent;
}

 .message--field {
  position: relative;
}

.emoji-picker-icon {
  font-size: 1.5rem;
} 

.emoji-picker-container {
  background: transparent;
}

.popup-menu {
  background-color: #1E1E1E;
  border: 0.5px solid rgba(30, 157, 233, .2);
   background-clip: padding-box;
}











.file-preview-container {
  display: flex;
  align-items: center;
  background-color: #2d2d2d;
  border-radius: 0.375rem;
  padding: 0.5rem; 
}

.file-preview-image {
  width: 4rem; 
  height: 4rem;
  object-fit: cover;
  border-radius: 0.375rem; 
}

.remove-file-button {
  margin-left: 0.5rem; 
  color: #fff;
  border: none;
  border-radius: 9999px;
  padding: 0.25rem; 
  cursor: pointer;
}
 
